<h1 class="title">Listing Users</h1>

<table class="balance">
	<tr>
		<th>User Name</th>
		<th>Email</th>
		<th>Permissions</th>
		<th>Current Sign in</th>
		<th colspan="3">Actions</th>
	</tr>

	<% @users.each do |user| %>
	<tr>
		<td><%= user.username %></td>
		<td><%= user.email %></td>
		<td><%= Permission.for_user(user)%></td>
		<td><%= user.current_sign_in_at %></td>
		<td><%= link_to (image_tag "/assets/reset.png"), reset_logon_path(user), method: :put, data: { confirm: 'Are you sure you want to reset this logon password?' } %></td>
		<td><%= link_to (image_tag "/assets/signup.png"), edit_logon_path(user), method: :get %></td>
		<td><%= link_to (image_tag "/assets/destroy.png"), logon_path(user), method: :delete, data: { confirm: 'Are you sure you want to delete this user?' } %></td>
	</tr>
	<%end%>
</table>

<br />

