<h1 class="title">Listing Transactions</h1>

<table class="balance">
	<tr>
		<th>Description</th>
		<th>Credit Account</th>
		<th>Credit Amount</th>
		<th>Debit Account</th>
		<th>Debit Amount</th>
		<th>Image</th>
		<th>Actions</th>

	</tr>

	<% @transactions.each do |transaction| %>
	<% if can? :read, transaction%>
	<tr>
		<td><%= transaction.description %></td>
		<td><%= link_to transaction.credit_account.name, account_path(transaction.credit_account.id) %></td>
		<td><%= transaction.credit_amount.amount %></td>
		<td><%= link_to transaction.debit_account.name, account_path(transaction.debit_account.id) %></td>
		<td><%= transaction.debit_amount.amount %></td>
		<%= has_image = !transaction.attachment.size.nil?%>
		<td><%= link_to image_tag(has_image ? "/assets/attachment.png" : transaction.attachment.url(:thumb)), ((transaction.attachment.size)?(transaction.attachment.url):'#') %></td>
		<% if can? :manage, transaction%>
			<td><%= link_to (image_tag "/assets/destroy.png"), transaction_path(transaction.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
	</tr>
	<% end %>
	<% end %>
</table>

<br />

<%= link_to 'New Transaction', new_transaction_path, {:class=>"button"}  %>
