<table><tr><td valign="top">
<div>
<div id="main"> <%= link_to 'Accounts', accounts_path %> </div> 


<div  id="main"> <%= link_to 'Transactions', transactions_path %> </div>

<div  id="main"> <%= link_to 'Balance Sheet', main_balance_sheet_path %> </div>
</div>
</td>
<td valign="top">
	<p id="notice"><%= notice %></p>
	<h2 id="title">Listing Transactions</h1>

<table id="balance">
  <tr>
    <th>Description</th>
    <th>Credit Account</th>
    <th>Credit Amount</th>
    <th>Debit Account</th>
    <th>Debit Amount</th>
    
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.description %></td>
    <td><%= link_to transaction.credit_accounts[0].name, account_path(transaction.credit_accounts[0].id) %></td>
    <td><%= transaction.credit_amounts[0].amount %></td>
    <td><%= link_to transaction.debit_accounts[0].name, account_path(transaction.debit_accounts[0].id) %></td>
    <td><%= transaction.debit_amounts[0].amount %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transaction', new_transaction_path %>

</td>
</tr></table>
