<ul>
	<li style="background-image: url('assets/home.png')"><%= link_to 'Home', root_path %></li>
	<% if user_signed_in? %>
		<li style="background-image: url('assets/account.png')"><%= link_to 'Accounts', accounts_path %></li>
		<li style="background-image: url('assets/transaction.png')"><%= link_to 'Transactions', transactions_path %></li>
		<li style="background-image: url('assets/balance.png')"><%= link_to 'Balance Sheet', balance_sheet_path %></li>

		<div style="float: right">
			<% if can? :manage, User%>
				<li style="background-image: url('assets/users.png')"><%= link_to "Users" , logons_path%></li>
			<% end %>
			<li style="background-image: url('assets/user.png')"><%= link_to current_user.username , edit_user_registration_path %></li>
			<li style="background-image: url('assets/logoff.png')"><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
		</div>
	
	<% else %>
		<div style="float: right; padding: 2px; color: white">
			<li style="background-image: url('assets/signup.png')"><%= link_to "Sign up", new_user_registration_path%></li>
			<li style="background-image: url('assets/login.png')"><%= link_to "Login", new_user_session_path%></li>
		</div>
	<% end %>
<ul>
