<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Welcome to our site</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

	</head>
	<body>
		<div class="main">
			<div class="page">
				<div class="header">
					<div class="header-img" style="margin-top: 20px"><img src="/assets/header.jpg" alt="" height="110" width="800">
					</div>
					<div class="topmenu">
						<%= render '/layouts/top_panel' %>
					</div>
				</div>
				<div class="content">
					<% if flash[:notice] %>
						<p class="alert-box success"><span>success: </span><%= flash[:notice] %></p>
					<% end %>
					<% if flash[:alert] %>
						<p class="alert-box error"><span>error: </span><%= flash[:alert] %></p>
					<% end %>
					<% if flash[:error] %>
						<p class="alert-box error"><span>error: </span><%= flash[:error] %></p>
					<% end %>
					<div class="centerbody">
						<%= yield %>
					</div>
				</div>
				<div class="footer">
					<p>
						<a href="http://ostazonline.herokuapp.com">Ostaz Online</a>
					</p>
				</div>

			</div>
		</div>
	</body>
</html>

