<p>
	<b>Name:</b>
	<%= @account.name %>
</p>

<p>
	<b>Type:</b>
	<%= @account.type %>
</p>

<p>
	<b>Credit Balance</b>
	<%= @account.credits_balance %>
</p>

<p>
	<b>Debit Balance</b>
	<%= @account.debits_balance %>
</p>

<%= link_to 'Back', accounts_path %>
